.idea/
stack_c/.idea/
stack_c/main
stack_cpp/.idea/
stack_cpp/main
extended_stack_cpp/.idea/
extended_stack_cpp/main
complex_number/.idea/
complex_number/main
polynomial/.idea/
polynomial/main
matrix/.idea/
matrix/main
map/.idea/
map/main
map/out/
